

<style>
    .sub-menu ul {
        
        list-style: none;
        color: #fff;
    }

    .sub-menu ul li a {
        text-decoration: none;
        color: #fff;
    }

    .sub-menu {
        display: none;
    }

    .dropdown-1:hover .sub-menu {
        display: block;
        position: absolute;
        background: rgb(35,31,32);
        margin-top: 0;
        margin-left: -15px;
    }

    .dropdown-1:hover .sub-menu ul {
        display: block;
        margin: 10px;
    }

    .dropdown-1:hover .sub-menu ul li {
        width: 150px;
        padding: 10px;
        border-bottom: 1px solid #fff;
        background: transparent;
        border-radius: 0;
        text-align: left;
    }

    .dropdown-1:hover .sub-menu ul li:last-child {
        border-bottom: none;
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("BOOKIPEDIA", "Index", "User", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Log Out", "About", "Home")</li>
                <li class="dropdown-1">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </a>
                    <div class="sub-menu">
                        <ul>
                            <li>Enquiry</li>
                            <li>Book Issues</li>
                            <li>Books Available</li>
                            <li>Feedback</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
